@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&family=Varela&display=swap');

/* STYLE FOR THE ADD TASK WINDOW*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(5px); /* for blurring effect */
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form {
  background-color: #fff; /* white background for the form */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* for a shadow effect */
  max-width: 500px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto; /* for scrolling if needed */
  position: relative;
}


#prioritySelect{
  height: 48px;
  border: none;
  overflow: hidden;
}
#prioritySelect::-moz-focus-inner {
  border: 0;
}
#prioritySelect:focus {
  outline: none;
}
#prioritySelect option{
  width: 60px;
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}


#prioritySelect #low{
  border:green solid 3px;
  color: green;
}

#prioritySelect #low:checked{
  background-color:green;
  color: white;
}

#prioritySelect #medium{
  border:darkorange solid 3px;
  color: darkorange;
}

#prioritySelect #medium:checked{
  background-color:darkorange;
  color: white;
}

#prioritySelect #high{
  border:red solid 3px;
  color: red;
}

#prioritySelect #high:checked{
  background-color:red;
  color: white;
}


/* Style for selected project */
.selectedProject1{
font-size: 1.9em;
font-weight: bold;
}


/* ------------------------------------------------------------------------*/

html, 
body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
    margin: 0;
  }
  
  main {
    min-height: 50%;
    margin-top: 50px;
    padding: 20px;
    width: 50%;
  }

  header, main {
    display: flex;
    justify-content: center;
  }

  .main-container{
    display: flex;
    justify-content: center;
    height: 70%;
    font-family: 'Mulish', sans-serif;
  }
  
  section {
    background-color: #fff;
    flex-grow: 1;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 800;
    color: #333;
    margin: 0;
  }

  header {
  background-color: #5d5d5d;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 1rem;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

/* -------------------------------------------------------- PROJECTS SECTION -------------------------------------------------------- */
/* Add a background color and adjust font styles for the Projects section */
aside {
  background-color: #f7f7f7;
  padding: 1em;
  font-size: 1.2em;
  min-width: 200px;
  border-radius: 10px;
}

/* Style the Projects heading */
aside h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* Style the project list */
#project-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projectPara{
  margin-top: 0;
  margin-bottom: 15px;
}

/* Style the project list items */
#project-list li {
  cursor: pointer;
  font-size: 1.6em;
}

/* Add a hover effect to the project list items */
#project-list li:hover {
  font-size: 1.9em;
}

/* Style the new project button */
#new-project-button {
  background-color: #0099ff;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 0.5em;

  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%; /* Makes the button completely round */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Adds a shadow to the button */
}

/* Add a hover effect to the new project button */
#new-project-button:hover {
  background-color: #0077cc;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}



/* Delete button is only visible when we hover on the LI element */
.projectName1 .delete-project-button1{
  display: none;
}
.projectName1:hover .delete-project-button1{
  display: inline-block;
}

.alertSpan{
  color: white;
  background-color: red;
}

/* --------------------------------------------------------***-------------------------------------------------------- */

/* -------------------------------------------------------- PART 3 -------------------------------------------------------- */
#task-display {
  margin: 0 0 0 250px;
  padding: 20px;
  border-left: 2px solid #f5f5f5;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 10px;

  padding: 30px;
  margin: 0 20px 20px 20px;
  
  width: 50%;
  
}

.project-title {
  
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: bold;
  color: #0d47a1;
}

.task-list {
  list-style: none;
  padding: 0;
 
}

/* -------------------------------------------------------- END OF PART 3 -------------------------------------------------------- */

  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    /* border-bottom: 1px solid #ccc; */

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  
  
  .task-title input[type="checkbox"] {
    margin-right: 10px;
  }

  .task-title span {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #333;
    text-decoration: none;
  }

  .checked-span{
    font-weight: normal !important;
    color: gray!important;
    text-decoration: line-through!important;
  }

  .task-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .task-item .details-button,
  .task-item .edit-button,
  .task-item .delete-button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }



/* Style for details, edit and date fields */
/* hides the "details", "edit", and date fields by default and shows them only when the user hovers 
over the task item. It also styles the date field with a smaller font size and a lighter color. */
.task-list li .details-button, 
.task-list li .edit-button,
.task-list li .delete-button{
  visibility: hidden;
  margin-right: 20px;
}

.task-list li:hover .details-button, 
.task-list li:hover .edit-button, 
.task-list li:hover .delete-button {
  visibility: visible;
}


/* Edit button */
.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    padding: 0;
  }
  .edit-button:hover {
    color: #1976d2;
  }
  
  /* Date */
  .date {
    font-size: 14px;
    color: #aaa;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  /* Details button */
  .details-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    padding: 0;
  }
  .details-button:hover,
  .edit-svg:hover,
  .delete-svg:hover {
    color: #1976d2;
  }



/* Add Task button */
  
  .new-task-button{
    background-color: #0099ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.5em;
  
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 50%; /* Makes the button completely round */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Adds a shadow to the button */
  }

  /* Add a hover effect to the new project button */
  #new-task-button:hover {
    background-color: #0077cc;
  }




/* Styling for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Styling for the copyright text */
footer p {
  margin: 0;
  font-size: 0.8rem;
}